#root {
  max-width: 2280px;
  background-color: rgb(217, 241, 246);

  /* padding: 2rem; */
}
.h2 {
  padding-top: 20px;
  color: rgb(231, 233, 240);
  padding-left: 20px;
  margin-left: 100px;
}
.navBar {
  /* background-color: aqua; */
  width: 100%;
  height: 80px;
  border-bottom: 4px solid rgb(69, 161, 41);
  background-color: rgb(51, 67, 115);
  margin-top: -19px;
}
.nav-text {
  display: flex;
  margin-left: 65%;
  margin-right: 30%;

  /* word-spacing: 5px; */
  margin-top: -20px;
  /* font-weight: 20px; */
  /* justify-content: space-around; */

  /* display: inline-block; */
}
.logo {
  width: 6%;
  height: 100%;
  float: left;
}
.sign-in {
  float: right;
  margin-right: 2%;
  height: 40%;
  width: 6%;
  background-color: rgb(222, 221, 221);
  border-radius: 8px;
  border: 2px solid rgb(70, 125, 67);
  margin-top: -25px;
  cursor: pointer;
}
.sign-in:hover {
  background-color: rgb(83, 178, 55);
  /* background-color: linear-gradient(to right (blue),( green)); */
}
a {
  text-decoration: none;
  color: aliceblue;
}
/* a:hover {
  background-color: rgb(222, 238, 252);
} */

.footer-box {
  display: grid;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 180px;
  background-color: rgb(51, 67, 113);
  height: 170px;
  width: 100%;
  color: aliceblue;
}
.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* background-color: aqua; */
  text-align: center;
}
.item-2 {
  grid-row: 2 / 1;
  grid-column: 2 / 2;
  /* background-color: rgb(66, 220, 220); */
  margin-left: 200px;
}

.bottom-logo {
  width: 60%;
  margin-top: 37px;
}
.title {
  color: rgb(62, 81, 136);
}
.banner {
  width: 100%;
  margin-top: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(-1);
  -webkit-transform: scaleX(-1);

  /* margin-bottom: 15px; */
}

.h1 {
  border: 3px solid rgb(83, 178, 55);
  height: 25%;
  width: 25%;

  margin-left: 63%;
  margin-top: -430px;

  color: aliceblue;
  background-color: rgb(44, 63, 101);
  letter-spacing: 1px;
  font-size: 110%;
  float: left;
  /* text-align: right; */
  padding-right: 100px;
  padding-left: 5%;
  border-radius: 20px;
  /* margin-left: 40px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.inner-info1 {
  border: 2px solid white;

  margin-top: 100px;
  padding-top: 10%;
  background-color: rgb(51, 67, 113);
  height: 200%;
  color: aliceblue;
  margin-bottom: 10%;
  padding-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-1 {
  width: 30%;
  height: 350px;
  /* background-color: aliceblue; */
  display: inline-block;
  margin-left: 30px;

  /* background-image: url('https://thumbs.dreamstime.com/b/professional-female-veterinary-nurse-checking-pet-dog-eyes-29924256.jpg'); */
}
.img-1 {
  /* margin-top: -15px; */
  width: 100%;
  height: 400px;
  border: 2px solid white;
}
.card-2 {
  width: 30%;
  height: 450px;
  /* background-color: aliceblue; */

  display: inline-block;
  justify-content: space-around;
  margin-left: 30px;
}
.img-2 {
  width: 100%;
  height: 400px;
  margin-top: -15px;
  border: 2px solid white;
}
.card-3 {
  width: 30%;
  height: 350px;
  /* background-color: aliceblue; */

  display: inline-block;
  margin-left: 30px;
}
.img-3 {
  width: 100%;
  height: 400px;
  margin-top: -15px;
  border: 2px solid white;
}

.about-container {
  /* background-color: aqua; */
  height: 400px;
  width: 100%;
  margin-bottom: 200px;
  text-align: center;

  /* background-image: url('https://www.antiguavet.com/wp-content/uploads/2019/02/slider_1_home.jpg'); */
}
.about-image {
  width: 100%;
  height: 500px;
  margin-top: 55px;
  padding-bottom: 100px;
  position: relative;
}
.about-text {
  margin-top: -27%;
  position: relative;
  /* margin-left: 20%; */
  margin-right: 50%;
  color: rgb(32, 39, 61);
  margin-left: 5%;
}

.login-card {
  width: 30%;
  height: 300px;
  background-color: rgb(44, 63, 101);
  text-align: center;
  margin: auto;
  margin-bottom: 20%;
  margin-top: 200px;
  border: 4px solid rgb(83, 178, 55);
  padding-bottom: 40px;
  padding-top: 50px;
  color: aliceblue;
  box-shadow: inset;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-button {
  height: 30px;
  width: 80px;
  background-color: rgb(222, 221, 221);
  border-radius: 8px;
  border: 2px solid rgb(70, 125, 67);
  margin-top: -50px;
  cursor: pointer;
}
.login-button:hover {
  background-color: rgb(83, 178, 55);
}
.avatar_pic {
  width: 200px;
}
.petCard {
  border: 2-x solid black;
}
@media (orientation: portrait) {
  .nav-text {
    display: flex;
    justify-content: space-around;
  }
  .navBar {
    height: 15%;
  }
  .logo {
    width: 10%;
  }
  .footer-box {
    display: flex;
    height: 100px;
  }
  .h1 {
    margin-top: 250px;
    width: 100%;
    padding: 0;
    height: 25%;
    display: flex;
    margin-bottom: 50px;
    /* margin-right: -40px; */
    margin-left: 0;
    text-align: center;
  }
  .img-1 {
    margin-top: 100px;
    width: 100%;
    height: 30%;
  }
  .img-2 {
    width: 100%;
    height: 30%;
    margin-left: 50%;
  }
  .img-3 {
    width: 100%;
    height: 30%;
    margin-bottom: 300px;
  }
  .inner-info1 {
    height: 400px;
  }
}
