#root {
  max-width: 2280px;
  background-color: rgb(217, 241, 246);
  

  /* padding: 2rem; */
}
.h2 {
  padding-top: 20px;
  color: rgb(231, 233, 240);
  padding-left: 20px;
  margin-left: 100px;
}
.navBar {
  /* background-color: aqua; */
  width: 100%;
  height: 80px;
  border-bottom: 4px solid rgb(69, 161, 41);
  background-color: rgb(51, 67, 115);
  margin-top: -19px;
  /* position: fixed; */
}
.nav-text {
  display: flex;
  margin-left: 65%;
  margin-right: 30%;
  /* text-align: center; */
  /* word-spacing: 5px; */
  margin-top: -20px;
  /* font-weight: 20px; */
  /* justify-content: space-around; */

  /* display: inline-block; */
}
.logo {
  width: 6%;
  height: 100%;
  float: left;
}
.sign-in {
  float: right;
  margin-right: 2%;
  height: 40%;
  width: 6%;
  background-color: rgb(222, 221, 221);
  border-radius: 8px;
  border: 2px solid rgb(70, 125, 67);
  margin-top: -25px;
  cursor: pointer;
}
.sign-in-card {
  margin: auto;
  width: 30%;
  height: 300px;
  background-color: rgba(37, 50, 101, 0.7);
  text-align: center;
  margin-top: -39%;
  padding-top: 20px;
  margin-bottom: 10%;
  color: white;
  position: relative;
  border: 4px solid rgb(39, 175, 39);
}
.sign_in_banner {
  width: 100%;
  /* background-color: aqua; */
  height: 500px;
  margin-bottom: 20%;
  margin-top: -100px;
}
.sign_in_img {
  width: 100%;
  /* margin-top: 7%; */
  margin-bottom: 10%;
}
.sign-in:hover {
  background-color: rgb(83, 178, 55);
  /* background-color: linear-gradient(to right (blue),( green)); */
}
a {
  text-decoration: none;
  color: aliceblue;
}
/* a:hover {
  background-color: rgb(222, 238, 252);
} */

.footer-box {
  display: grid;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 180px;
  background-color: rgb(51, 67, 113);
  height: 170px;
  width: 100%;
  color: aliceblue;
}
.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* background-color: aqua; */
  text-align: center;
}
.item-2 {
  grid-row: 2 / 1;
  grid-column: 2 / 2;
  /* background-color: rgb(66, 220, 220); */
  margin-left: 200px;
}

.bottom-logo {
  width: 60%;
  margin-top: 37px;
}
.title {
  color: rgb(62, 81, 136);
}
.banner {
  width: 100%;
  /* margin-top: 55px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(-1);
  -webkit-transform: scaleX(-1);

  /* margin-bottom: 15px; */
}

.h1 {
  border: 3px solid rgb(83, 178, 55);
  height: 25%;
  width: 25%;

  margin-left: 63%;
  margin-top: -430px;

  color: aliceblue;
  background-color: rgb(44, 63, 101);
  letter-spacing: 1px;
  font-size: 110%;
  float: left;
  /* text-align: right; */
  padding-right: 100px;
  padding-left: 5%;
  border-radius: 20px;
  /* margin-left: 40px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.inner-info1 {
  border: 2px solid white;

  margin-top: 200px;
  padding-top: 10%;
  background-color: rgb(51, 67, 113);
  height: 200%;
  color: aliceblue;
  margin-bottom: 10%;
  padding-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-1 {
  width: 30%;
  height: 350px;

  display: inline-block;
  margin-left: 30px;
}
.img-1 {
  /* margin-top: -15px; */
  width: 100%;
  height: 400px;
  border: 2px solid white;
}
.card-2 {
  width: 30%;
  height: 450px;
  /* background-color: aliceblue; */

  display: inline-block;
  justify-content: space-around;
  margin-left: 30px;
}
.img-2 {
  width: 100%;
  height: 400px;
  margin-top: -15px;
  border: 2px solid white;
}
.card-3 {
  width: 30%;
  height: 350px;
  /* background-color: aliceblue; */

  display: inline-block;
  margin-left: 30px;
}
.img-3 {
  width: 100%;
  height: 400px;
  margin-top: -15px;
  border: 2px solid white;
}

.about-container {
  /* background-color: aqua; */
  height: 400px;
  width: 100%;
  margin-bottom: 200px;
  text-align: center;

  /* background-image: url('https://www.antiguavet.com/wp-content/uploads/2019/02/slider_1_home.jpg'); */
}
.about-image {
  width: 100%;
  height: 500px;
  margin-top: 55px;
  padding-bottom: 100px;
  position: relative;
}
.about-text {
  margin-top: -27%;
  position: relative;
  /* margin-left: 20%; */
  margin-right: 50%;
  color: rgb(32, 39, 61);
  margin-left: 5%;
}
.login_img_box {
  height: 620px;
  width: 100%;
  margin: auto;

  margin-bottom: 10%;
}

.login-card {
  width: 30%;
  height: 300px;
  background-color: rgba(44, 63, 101, 0.7);
  text-align: center;
  margin: auto;
  margin-top: -500px;

  border: 4px solid rgb(83, 178, 55);
  padding-bottom: 40px;
  /* padding-top: 50px; */
  color: aliceblue;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image_background {
  /* margin-top: 100px; */
  width: 100%;
  /* position: static; */
}
.login-button {
  height: 30px;
  width: 80px;
  background-color: rgb(222, 221, 221);
  border-radius: 8px;
  border: 2px solid rgb(70, 125, 67);
  margin-top: -50px;
  cursor: pointer;
}
.login-button:hover {
  background-color: rgb(83, 178, 55);
}
.avatar_pic {
  width: 200px;
}
.petCard {
  border: 2-x solid black;
}
@media (max-width: 600px) {
  .nav-text {
    display: flex;
    justify-content: space-around;

   

  }
  .navBar {
    height: 70px;
  }
  .logo {
    width: 20%;
  }

  .footer-box {
    display: flex;
    height: 100px;
  }

  .h2 {
    color: transparent;
  }
  .h1 {
    margin-top: 1px;
    width: 100%;
    padding: 0;
    height: fit-content;
    border-radius: 0;
    position: relative;
    border-top: 3px solid green;
    border-bottom: 3px solid green;

    margin-left: 0;
    text-align: center;
  }
  .sign-in {
    /* z-index: 2; */
    /* margin-top: 280px; */
    /* margin-left: 5px; */
    float: left;
    width: 80px;
    height: 30px;
    background-color: rgb(59, 149, 59);
  }
  .img-1 {
    display: block;
    margin-top: 200px;
    width: 300px;
    height: 60%;
  }
  .img-2 {
    display: block;

    width: 250%;
    height: 60%;
    margin-right: 40px;
    margin-left: -120px;
    margin-bottom: 30px;
  }
  .img-3 {
    display: block;
    width: 270%;
    height: 70%;
    margin-top: 100px;
    /* margin-bottom: 300px; */
  }
  .inner-info1 {
    height: fit-content;
  }
  .login-card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .image_background {
    margin-top: 0;
  }
  .login-button {
    background-color: rgb(69, 160, 69);
    border: 2px solid rgb(49, 49, 137);
  }
  .about-image {
    height: auto;
    margin-top: 0;
  }
  .about-container {
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  .about-text {
    text-align: center;
    color: rgb(48, 48, 133);
    margin-right: 10px;
  }
  .sign-in-card {
    width: 100%;
    margin-top: -30px;
  }
  .sign_in_img {
    margin-top: 0;
  }
}
@media (min-width: 601px) {
}
